version: "3.8"

services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bookbox
      MYSQL_USER: bookbox
      MYSQL_PASSWORD: bookbox
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    environment:
      # SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/bookbox?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      # SPRING_DATASOURCE_USERNAME: bookbox
      # SPRING_DATASOURCE_PASSWORD: bookbox
      # SERVER_PORT: 8080
      TZ: Europe/Warsaw
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  db_data:
